.box {
  width: 1200px;
  background-color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout {
  display: flex;
  justify-content: space-evenly;
}

.productlist {
  width: 1350px;
  /* height: 1200px; */
  margin: 0 auto;
}

.box :global(.ant-menu) {
  margin-left: 100px;
}

.cart:hover {
  box-shadow: red;
}

.btn {
  background-color: #ECECEC !important;
  border: none !important;
  color: black !important;
}

.btns {
  background-color: black !important;
  border: none !important;
  color: white !important;
}

.screen {
  position: fixed;
  z-index: 2;
  margin: 100px 56px;
}

.drawer {
  width: 100%;
}

.content {
  margin-top: 64px;
}

:global(.ant-drawer-content-wrapper) {
  width: 550px !important;
}

:global(.ant-list-item-meta-title) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:global(.ant-list-item-meta-description) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  :global(.ant-layout.ant-layout-has-sider) {
    flex-direction: column !important;
  }

  .screen {
    position: initial;
    margin: 20px 56px;
  }

  :global(.ant-drawer-content-wrapper) {
    width: 100% !important;
  }

  .drawer {
    width: 100%;
  }

  .content {
    margin-top: initial;
  }
}
